<!DOCTYPE html>
<html>

  <head>

    <title>Home Page</title>

  </head>

  <body>

    <h1>Welcome to the Home Page</h1>

    <%= link_to 'logout', destroy_user_session_path, method: :delete %>

  </body>

</html>